<%- include('./head')   %>
<body>
    <div class="page-wrapper">
      <%- include('./header')   %>

        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="banner banner-big banner-overlay">
                                    <a href="#">
                                        <img src="assets/images/Banners/Banner-1.png" alt="Banner">
                                    </a>
                                    <div class="banner-content banner-content-bottom">
                                        <h4 class="banner-subtitle text-white"><a href="#">Trending now</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">The Focus and Accent <br>On Your
                                                Spring Wardrobe</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Discover Now <i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-7">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="assets/images/Banners/Banner-2.png" alt="Banner">
                                    </a>
                                    <!-- We Can Use .banner-content-right -->
                                    <div class="banner-content banner-content-top">
                                        <h4 class="banner-subtitle text-white"><a href="#">clearance</a></h4>
                                        <!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">Clearance It’s On <br>Up To 50%
                                                Off</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="assets/images/Banners/Banner-3.png"
                                                    alt="Banner">
                                            </a>

                                            <div class="banner-content banner-content-top ">
                                                <h4 class="banner-subtitle text-white"><a href="#">you might love</a>
                                                </h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">This Week's <br>Most
                                                        Wanted</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Shop Now <i
                                                        class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="assets/images/Banners/Banner-4.png"
                                                    alt="Banner">
                                            </a>

                                            <div class="banner-content  banner-content-top banner-content-reverse">
                                                <h4 class="banner-subtitle text-white"><a href="#">The new pretty</a>
                                                </h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">How To Dress<br>For
                                                        Spring</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Discover Now <i
                                                        class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->

                <div class="icon-boxes-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .bg-lighter -->

            <div class="container pt-5">
                <h2 class="title text-center">Currently Popular Items</h2><!-- End .title -->

               
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
                        <div class="row justify-content-center">
                           <% if(typeof all_product_in_database !==undefined && all_product_in_database.length > 0){ %>
                               <% for(let i = 0; i < all_product_in_database.length; i++){ %>        
                                    <div class="col-6 col-md-4 col-lg-3">
                                        <div class="product product-4">
                                            <figure class="product-media">
                                                <a href="/GetProductById?product_id=<%= all_product_in_database[i].id %>">
                                                    <img src="<%= all_product_images_in_database[i][0].filename %>"
                                                        alt="Product image" class="product-image">
                                                    <!-- <img src="assets/images/demos/demo-17/products/product-1-2.jpg"
                                                        alt="Product image" class="product-image-hover"> -->
                                                </a>

                                                <div class="product-action-vertical">
                                                    <input type="hidden" name="product_id" id="product_id" value="<%= all_product_in_database[i].id %>">
                                                    <% if (typeof req.session.user_id !== 'undefined') { %>
                                                        <button  onclick="add_to_wishlist('<%= all_product_in_database[i].id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></button>
                                                    <% } else { %>
                                                        <a href="/signup_page" class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></a>
                                                    <% } %>
                                                    
                                                </div>

                                                <div class="product-action">
                                                    <a onclick="addtocart('<%= all_product_in_database[i].id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div>
                                            </figure>

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="/GetProductById?product_id=<%= all_product_in_database[i].id %>"><%= all_product_in_database[i].sub_category %></a>
                                                </div>
                                                <h3 class="product-title"><a href="/GetProductById?product_id=<%= all_product_in_database[i].id %>"><%= all_product_in_database[i].product_title %></a></h3>
                                                <div class="product-price">
                                                 ₹ <%= all_product_in_database[i].product_price %>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                <% }  %>
                            <% }  %>
                        </div>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->

            <div class="cta bg-image bg-dark pt-4 pb-5"
                style="background-image: url(assets/images/demos/demo-17/bg-1.jpg);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Sign up for email & get 25% off </h3>
                                <!-- End .cta-title -->
                                <p class="cta-desc text-white">Subcribe to get information about products and coupons
                                </p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->

                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email Address"
                                        aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><span>Subscribe</span><i
                                                class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->

            <div class="blog-posts pt-5">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">New Blog Posts</h2><!-- End .title -->
                        <p class="title-desc">Donec nec justo eget felis facilisis fermentum.</p>
                        <!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="owl-carousel owl-simple mb-4" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "items": 3,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "600": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":3,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                       
                        <% for (var i = 0; i < all_blogs_in_database.length; i++) {%>
                        <article class="entry">
                            <figure class="entry-media">
                                <a href=" single_blog?blog_id=<%= all_blogs_in_database[i].id %>">
                                    <img src="<%= all_blogs_in_database[i].image %>" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                
                                <h3 class="entry-title">
                                    <a href=" single_blog?blog_id=<%= all_blogs_in_database[i].id %>"><%= all_blogs_in_database[i].title%></a>
                                </h3><!-- End .entry-title -->

                                <div class="entry-content">
                                    <a href=" single_blog?blog_id=<%= all_blogs_in_database[i].id %>" class="read-more">Read More</a>
                                </div><!-- End .entry-content -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                        <% } %>

                       
                    </div><!-- End .owl-carousel -->

                    <div class="more-container text-center">
                        <a href="/blog" class="btn btn-outline-darker btn-more"><span>View more articles</span><i
                                class="icon-long-arrow-right"></i></a>
                    </div><!-- End .more-container -->

                    <hr class="mb-5">
                </div><!-- End .container -->
            </div><!-- End .blog-posts -->

            <div class="container-fluid">
                <div class="heading text-center">
                    <h2 class="title">Follow us on instagram</h2><!-- End .title -->
                    <p class="title-desc">Donec nec justo eget felis facilisis fermentum.</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": false,
                        "items": 5,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "360": {
                                "items":2
                            },
                            "600": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":5
                            }
                        }
                    }'>
                    <div class="instagram-feed">
                        <img src="assets/images/demos/demo-17/instagram/1.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>466</a>
                            <a href="#"><i class="icon-comments"></i>65</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="assets/images/demos/demo-17/instagram/2.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>39</a>
                            <a href="#"><i class="icon-comments"></i>78</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="assets/images/demos/demo-17/instagram/3.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>691</a>
                            <a href="#"><i class="icon-comments"></i>87</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="assets/images/demos/demo-17/instagram/4.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>508</a>
                            <a href="#"><i class="icon-comments"></i>124</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="assets/images/demos/demo-17/instagram/5.jpg" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>433</a>
                            <a href="#"><i class="icon-comments"></i>27</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .owl-carousel -->
            </div><!-- End .container-fluid -->
        </main><!-- End .main -->

        <%- include('./footer') %>

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close" onclick="DeleteCart(5)"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="product-category.html">Product</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

   
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <!-- Theme-1 JS -->
    <script src="assets/js/theme/theme-1.js"></script>
</body>




<script>
    function add_to_wishlist(id){
      $.ajax({
          url:"/add_to_wishlist",
          method:"GET",
          dataType:'JSON',
          data:{
            product_id:id
          },success:function (data) {
            window.location.reload();
          console.log(data.response);
          }
      });
    }

    function addtocart(id){
         console.log("My id is "+id);
         jQuery.ajax({
			url:"/add_to_cart",
          method:"POST",
          dataType:'JSON',
          data:{
            product_id:id
          },
			success: function(result) {
                console.log("New Cart is "+result.message);
				alert(result.message);
                window.location.reload();
			}
		});
    }

    function DeleteCart(id) {
        console.log("Delete Cart is "+id);
        jQuery.ajax({
            url: "/DeleteCart",
            method:"POST",
            dataType: "JSON",
            data:{
                product_id:id
            },success: function (result){
                console.log(result.success)
                window.location.reload();
            }
        })
    }
    
   
</script>

</html>