<%- include('./admin_head')%> <%- include('./admin_head')%>

<div
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin5"
  data-sidebartype="full"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
>
  <%- include('./top') %>
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Testimonial</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin_dashboard">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Testimonial
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <!-- Column -->
        <div class="col-md-8 m-auto bg-white">
          <div class="card">
            <div class="card-header">
              <strong>Testimonial</strong><small> Form</small>
            </div>
            <% if(typeof message!== 'undefined' && message){%> <%= message %> <%
            }%> <% if(typeof result!== 'undefined' && result){ %>

            <form
              method="post"
              action="/update_testimonial"
              enctype="multipart/form-data"
            >
              <div class="card-body card-block">
                <div class="form-group">
                  <label for="heading1" class="form-control-label">Name</label>
                  <input
                    type="hidden"
                    value="<%= result.id %>"
                    name="testimonial_id"
                    id=""
                  />
                  <input
                    type="text"
                    name="name"
                    value="<%= result.name %>"
                    placeholder="Enter Testimonial Name"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="heading1" class="form-control-label"
                    >Comment</label
                  >
                  <input
                    type="text"
                    name="comment"
                    value="<%= result.comment %>"
                    placeholder="Comment.."
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="heading1" class="form-control-label">Image</label>
                  <img
                    src="<%= result.image %>"
                    height="50"
                    width="50"
                    alt=""
                    srcset=""
                  />
                  <input
                    type="file"
                    name="image"
                    value="<%= result.image %>"
                    placeholder="Enter image"
                    class="form-control"
                  />
                </div>

                <button
                  id="payment-button"
                  type="submit"
                  class="btn btn-lg btn-info btn-block"
                >
                  <span id="payment-button-amount">Submit</span>
                </button>
                <div class="field_error"></div>
              </div>
            </form>
            <% }else{ %>
            <form
              method="post"
              action="/insert_testimonial"
              enctype="multipart/form-data"
            >
              <div class="card-body card-block">
                <div class="form-group">
                  <label for="heading1" class="form-control-label">Name</label>
                  <input
                    type="text"
                    name="name"
                    placeholder="Enter Testimonial Name"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="heading1" class="form-control-label"
                    >Comment</label
                  >
                  <input
                    type="text"
                    name="comment"
                    placeholder="Comment.."
                    class="form-control"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="heading1" class="form-control-label">Image</label>
                  <input
                    type="file"
                    name="image"
                    placeholder="Enter image"
                    class="form-control"
                  />
                </div>

                <button
                  id="payment-button"
                  name="submit"
                  type="submit"
                  class="btn btn-lg btn-info btn-block"
                >
                  <span id="payment-button-amount">Submit</span>
                </button>
                <div class="field_error"></div>
              </div>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
